<agm-map [latitude]="20.577236100000004" [longitude]="-100.3802213" [zoom]='14' [streetViewControl]="true"
  [mapTypeControl]="true" [fullscreenControl]="true" style="height:50vh">
</agm-map>
<br>
<div class="row">
  <div class="col-md-12">
    <table datatable class="table table-striped">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Direccion</th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <th scope="row">sin datos</th>
          <td>sin datos</td>
          <td>sin datos</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
